[Unit]
Description=NewsBot, a journalism tool
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=on-failure
RestartSec=5
ExecStart=/usr/bin/env python /usr/local/src/NewsBot

[Install]
WantedBy=multi-user.target
