[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
pape = "*"
twisted = "*"
python-magic = "*"
python-dotenv = "*"
mysql-connector-python = "*"
requests = "*"
dateparser = "*"
metadata-parser = "*"

[dev-packages]
pylint = "*"
pytest = "*"
pytest-xdist = "*"
pytest-cov = "*"

[requires]
python_version = "3.12"
